<% if logged_in? %>
  <div class="row">
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">新規タスク投稿</h3>
        </div>
        <div class="panel-body">
          <%= render 'tasks/form', task: @task %>
        </div>
      </div>
    </div>
    
    <div class="col-md-8">
      <h2><%= current_user.name %> さんのタスク一覧</h2>    
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
    
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the TaskList!</h1>
    </div>
  </div>
  
  <div class="text-center">
    <div>
      <%= link_to 'ログイン', login_path, class:'btn btn-primary btn-lg' %>
    </div>
    <%= link_to 'はじめての方はこちら', signup_path %>
  </div>
<% end %>

